In [13]:
import pandas as pd 
import numpy as np 

import os
os.chdir ("/home/hpcap/Desktop/Analytics and Statistics/Datasets")

In [14]:
df =pd.read_csv("Exp_Salaries.csv")
df.shape

(46, 7)

In [15]:
df

,Salary,Years_Previous_Experience,Years Employed,Years_Education,Gender,Department,Number_Supervised
0,32782,1,0,7,Male,A,0
1,32920,3,15,9,Female,A,4
2,29548,6,5,1,Male,A,0
3,39828,6,18,5,Female,A,5
4,31528,11,3,3,Male,A,6
5,38985,7,18,9,Male,A,5
6,41889,16,22,7,Male,A,7
7,38791,4,21,5,Male,A,9
8,28985,1,0,4,Female,A,4
9,24749,2,6,0,Female,A,1
10,35467,6,3,6,Female,B,3
11,35468,5,9,4,Female,B,5
12,29876,0,2,3,Female,B,5
13,43674,9,6,4,Male,B,2
14,36431,4,9,4,Female,B,2
15,26578,6,0,2,Female,B,2
16,36571,1,6,4,Male,B,2
17,56326,3,12,8,Male,B,6
18,23654,0,0,0,Female,C,2
19,36578,4,4,8,Male,C,8
20,37548,9,19,4,Male,C,6
21,53234,0,25,6,Male,C,3
22,54679,3,20,6,Female,C,4
23,47536,5,15,6,Male,C,4
24,31425,6,7,5,Female,C,6
25,65487,0,27,12,Female,D,44
26,46184,3,20,4,Male,D,1
27,54899,5,12,8,Female,D,0
28,34869,5,7,4,Female,D,1
29,35487,2,8,2,Female,D,2
30,26548,1,5,0,Male,D,2
31,34231,2,6,6,Male,D,3
32,39331,3,9,6,Female,D,1
33,36512,6,6,4,Female,D,2
34,68425,2,25,12,Male,D,1
35,36487,5,6,2,Male,D,3
36,34632,4,5,4,Male,D,0
37,46211,5,14,6,Female,D,5
38,51698,6,18,6,Male,D,1
39,69246,3,22,10,Male,D,45
40,48695,19,6,8,Male,D,40
41,34987,6,9,2,Female,D,3
42,35631,4,6,4,Male,D,2
43,39743,6,9,5,Female,D,1
44,41255,4,9,6,Male,D,4
45,26452,3,1,2,Female,D,0

In [16]:
df.columns.tolist()

['Salary',
 'Years_Previous_Experience',
 'Years Employed',
 'Years_Education',
 'Gender',
 'Department',
 'Number_Supervised']

In [42]:
df.isnull().values.any()

False

In [28]:
df['Salary'].mean

39827.391304347824

In [21]:
df['Salary'].max()

69246

In [22]:
df['Salary'].min()

23654

In [31]:
df['Gender'].tolist().count('Female')

22

value counts function

In [50]:
df['Gender'].value_counts()

Gender
Male      24
Female    22
Name: count, dtype: int64

In [32]:
df['Gender'].tolist().count('Male')

24

To get Unique value fro coloumn

In [43]:
df["Gender"].unique()

array(['Male', 'Female'], dtype=object)

Female Highest Salary

In [65]:
df.groupby("Gender")['Salary'].max()["Female"]

65487

By using df.loc

In [73]:
df.loc[df['Gender'] == 'Female','Salary'].max()

65487

Male Lowest Salary

In [66]:
df.groupby("Gender")['Salary'].min()["Male"]

26548

In [78]:
df.loc[df['Gender']=='Male','Salary'].min()

26548

Avg of Female Salary

In [67]:
df.groupby("Gender")['Salary'].mean()["Female"]

37001.72727272727

Avg of Male Salary

In [68]:
df.groupby("Gender")['Salary'].mean()["Male"]

42417.583333333336

Creating new dataframe

In [87]:
# Create an empty DataFrame with column names
df = pd.DataFrame(columns=['Name', 'PRN', 'Attendance'])
data = {'Name': ['Abhishek Nautiyal', 'Amruta Uttam Shinde','Anmol Jagdish Pimpale','Deepshikha Paikara','Devi lal','Dnyaneshwari Bhalshankar','Mahesh Gunaji Kamble','Maheshwari Bhalshankar','Maroti Krishna Kasbe','Rushikesh Ashok Padale','Sonali Shivaji Waghmare','Suhas Vikas Ghatkamble','Swapnil Dasharath Shinde','Vishwjeet Ramesh Ujgare'], 'PRN': ['01', '02','03','04','05','06','07','08','09','10','11','12','13','14'], 'Attendance': [100,87,100,100,100,97,99,89,98,100,100,100,97,98]}
sdf = pd.DataFrame(data)
sdf

                        Name PRN  Attendance
0          Abhishek Nautiyal  01         100
1        Amruta Uttam Shinde  02          87
2      Anmol Jagdish Pimpale  03         100
3         Deepshikha Paikara  04         100
4                   Devi lal  05         100
5   Dnyaneshwari Bhalshankar  06          97
6       Mahesh Gunaji Kamble  07          99
7     Maheshwari Bhalshankar  08          89
8       Maroti Krishna Kasbe  09          98
9     Rushikesh Ashok Padale  10         100
10   Sonali Shivaji Waghmare  11         100
11    Suhas Vikas Ghatkamble  12         100
12  Swapnil Dasharath Shinde  13          97
13   Vishwjeet Ramesh Ujgare  14          98

In [92]:
sdf['Attendance'].mean()

97.5

In [93]:
sdf['Attendance'].mode()

0    100
Name: Attendance, dtype: int64

In [94]:
sdf['Attendance'].median()

99.5

In [96]:
sdf['Attendance'].std()

4.201648028315336