In [7]:
import pandas as pd 
import numpy as np 

import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
import os
os.chdir ("/home/hpcap/Desktop/Analytics and Statistics/Datasets")

In [10]:
insure =pd.read_csv("Insure_auto.csv")
insure.head(2)

  Branch  Home  Automobile  Operating_Cost
0    B01   400        1200          124000
1    B02   350         360           71000

In [11]:
x=insure[['Home','Automobile']]
y=insure['Operating_Cost']
lr=LinearRegression()
lr.fit(x,y)
lr.intercept_,lr.coef_

(-10084.213130948687, array([167.32668857,  54.10529229]))